logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
.DS_Store
dest
.Rhistory
r-output-images/*
!r-output-images/.gitkeep
Rplots.pdf
postgres-db
ssd-keys
postgrees-data
/config-local
